---
layout: home-9
title: "Home 09"
category_text: "Home"
category_url: /home-09.html
---
<section class="overflow-hidden">
    <div class="slick-slider mx-xl-n8"
         data-slick-options='{"slidesToShow": 1,"infinite":true,"autoplay":false,"dots":true,"arrows":false,"centerMode":true,"centerPadding":"calc((100% - 1270px)\/2)","responsive":[{"breakpoint": 1200,"settings": {"centerMode":false}}]}'>
        <div class="box px-xl-8">
            <div class="card border-0">
                <img src="{{ '/images/bg-home-09_2.jpg' | document_url }}" alt="Covent Lounge Chair"
                     class="card-img">
                <div class="card-img-overlay d-flex flex-column justify-content-center p-lg-11">
                    <h1 class="fs-30 fs-lg-60 mb-7" data-animate="fadeInUp">Covent <br> Lounge Chair</h1>
                    <div data-animate="fadeInUp" class="d-none d-sm-block">
                        <a href="{{ '/shop-page-04.html' | document_url }}"
                           class="btn btn-outline-primary text-uppercase letter-spacing-05">from $500</a>
                    </div>

                </div>
            </div>

        </div>
        <div class="box px-xl-8">
            <div class="card border-0">
                <img src="{{ '/images/bg-home-09_1.jpg' | document_url }}" alt="Covent Lounge Chair"
                     class="card-img">
                <div class="card-img-overlay d-flex flex-column justify-content-center p-lg-11">
                    <h2 class="fs-30 fs-lg-60 mb-7" data-animate="fadeInUp">Covent <br> Lounge Chair</h2>
                    <div data-animate="fadeInUp" class="d-none d-sm-block">
                        <a href="{{ '/shop-page-04.html' | document_url }}"
                           class="btn btn-outline-primary text-uppercase letter-spacing-05">from $500</a>
                    </div>

                </div>
            </div>

        </div>
        <div class="box px-xl-8">
            <div class="card border-0">
                <img src="{{ '/images/bg-home-09_3.jpg' | document_url }}" alt="Covent Lounge Chair"
                     class="card-img">
                <div class="card-img-overlay d-flex flex-column justify-content-center p-lg-11">
                    <h2 class="fs-30 fs-lg-60 mb-7" data-animate="fadeInUp">Pao by <br> chiandchi</h2>
                    <div data-animate="fadeInUp" class="d-none d-sm-block">
                        <a href="{{ '/shop-page-04.html' | document_url }}"
                           class="btn btn-outline-primary text-uppercase letter-spacing-05">from $500</a>
                    </div>

                </div>
            </div>

        </div>
    </div>
</section>
<section class="py-11 pt-lg-13 pb-lg-15">
    <div class="container">
        <div class="mxw-110px mx-auto mb-8">
            <img src="{{ '/images/logo_circle.png' | document_url }}" alt="Logo circle">
        </div>
        <div class="mxw-924 mx-auto">
            <h2 class="fs-30 fs-md-40 lh-15 mb-10 mb-lg-12 text-center">Having a place set aside for an activity you
                love makes it more likely you’ll do it.</h2>
        </div>
        <div class="slick-slider"
             data-slick-options='{"slidesToShow": 3, "autoplay":true,"dots":true,"arrows":false,"responsive":[{"breakpoint": 992,"settings": {"slidesToShow": 2}},{"breakpoint": 576,"settings": {"slidesToShow": 1}}]}'>
            <div class="box" data-animate="fadeInUp">
                <div class="card border-0">
                    <img src="{{ '/images/c_15.jpg' | document_url }}" alt="Table" class="card-img">
                    <div class="card-img-overlay d-inline-flex align-items-end justify-content-center p-4">
                        <div>
                            <a href="#"
                               class="btn btn-white text-uppercase letter-spacing-05 bg-hover-primary hover-white border-hover-primary">Table</a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="box" data-animate="fadeInUp">
                <div class="card border-0">
                    <img src="{{ '/images/c_16.jpg' | document_url }}" alt="Table" class="card-img">
                    <div class="card-img-overlay d-inline-flex align-items-end justify-content-center p-4">
                        <div>
                            <a href="#"
                               class="btn btn-white text-uppercase letter-spacing-05 bg-hover-primary hover-white border-hover-primary">chairs</a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="box" data-animate="fadeInUp">
                <div class="card border-0">
                    <img src="{{ '/images/c_17.jpg' | document_url }}" alt="Table" class="card-img">
                    <div class="card-img-overlay d-inline-flex align-items-end justify-content-center p-4">
                        <div>
                            <a href="#"
                               class="btn btn-white text-uppercase letter-spacing-05 bg-hover-primary hover-white border-hover-primary">accessories</a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="box" data-animate="fadeInUp">
                <div class="card border-0">
                    <img src="{{ '/images/c_15.jpg' | document_url }}" alt="Table" class="card-img">
                    <div class="card-img-overlay d-inline-flex align-items-end justify-content-center p-4">
                        <div>
                            <a href="#"
                               class="btn btn-white text-uppercase letter-spacing-05 bg-hover-primary hover-white border-hover-primary">Table</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<section class="pb-11 pb-lg-15">
    <div class="container">
        <h2 class="mb-8 text-center fs-30 fs-md-40">Essenstial Items</h2>
        <div class="row mb-6">
            {% for product in site.data.home-04.products %}
            <div class="col-sm-6 col-lg-3 mb-6" data-animate="fadeInUp">
                <div class="card border-0 hover-change-content product">
                    <div class="card-img-top position-relative">
                        <div style="background-image: url('{{ product.image | document_url }}')"
                             class="card-img ratio bg-img-cover-center ratio-1-1">
                        </div>
                        <div class="position-absolute pos-fixed-bottom px-4 px-sm-6 pb-5 d-flex w-100 justify-content-center content-change-horizontal">
                            <a href="#" data-toggle="tooltip" title="Add to cart"
                               class="add-to-cart d-flex align-items-center justify-content-center text-primary bg-white hover-white bg-hover-primary w-45px h-45px rounded-circle mr-2 border">
                                <i class="far fa-shopping-basket"></i>
                            </a>
                            <a href="#" data-toggle="tooltip" title="Add to favourite"
                               class="add-to-wishlist d-flex align-items-center justify-content-center text-primary bg-white hover-white bg-hover-primary w-45px h-45px rounded-circle mr-2 border">
                                <i class="far fa-heart"></i>
                            </a>
                            <a href="#" data-toggle="tooltip" title="Add to compare"
                               class="add-to-compare d-flex align-items-center justify-content-center text-primary bg-white hover-white bg-hover-primary w-45px h-45px rounded-circle mr-2 border">
                                <i class="far fa-random"></i>
                            </a>
                            <a href="#" data-toggle="tooltip" title="Preview"
                               class="preview d-flex align-items-center justify-content-center text-primary bg-white hover-white bg-hover-primary w-45px h-45px rounded-circle border">
                                <i class="far fa-eye"></i>
                            </a>
                        </div>
                    </div>
                    <div class="card-body px-0 pt-4 pb-0 d-flex align-items-end">
                        <div class="mr-auto">
                            <a href="#" class="text-uppercase text-muted letter-spacing-05 fs-12 d-block font-weight-500">{{product.category}}</a>
                            <a href="#" class="font-weight-bold mt-1 d-block">{{product.title}}</a>
                        </div>
                        <p class="text-primary mb-0 font-weight-500">{{product.price}}</p>
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>
        <div class="text-center">
            <a href="{{ '/shop-page-04.html' | document_url }}"
                                    class="btn btn-outline-primary text-uppercase letter-spacing-05">Shop Now</a>
        </div>

    </div>
</section>
<section>
    <div class="container border-bottom pb-8 pb-lg-10">
        <h2 class="text-center fs-30 fs-md-40 mb-7">Shop by Brands</h2>
        <div class="d-flex flex-wrap client-logo-02 justify-content-center">
            <a href="#" class="d-block p-6 px-xl-8 item" data-animate="fadeIn">
                <img src="{{ '/images/client_logo_01.png' | document_url }}" alt="Client Logo 01"
                     class="opacity-5 opacity-hover-10">
            </a>
            <a href="#" class="d-block p-6 px-xl-8 item" data-animate="fadeIn">
                <img src="{{ '/images/client_logo_02.png' | document_url }}" alt="Client Logo 02"
                     class="opacity-5 opacity-hover-10">
            </a>
            <a href="#" class="d-block p-6 px-xl-8 item" data-animate="fadeIn">
                <img src="{{ '/images/client_logo_03.png' | document_url }}" alt="Client Logo 03"
                     class="opacity-5 opacity-hover-10">
            </a>
            <a href="#" class="d-block p-6 px-xl-8 item" data-animate="fadeIn">
                <img src="{{ '/images/client_logo_04.png' | document_url }}" alt="Client Logo 04"
                     class="opacity-5 opacity-hover-10">
            </a>
            <a href="#" class="d-block p-6 px-xl-8 item" data-animate="fadeIn">
                <img src="{{ '/images/client_logo_05.png' | document_url }}" alt="Client Logo 05"
                     class="opacity-5 opacity-hover-10">
            </a>
            <a href="#" class="d-block p-6 px-xl-8 item" data-animate="fadeIn">
                <img src="{{ '/images/client_logo_06.png' | document_url }}" alt="Client Logo 06"
                     class="opacity-5 opacity-hover-10">
            </a>
            <a href="#" class="d-block p-6 px-xl-8 item" data-animate="fadeIn">
                <img src="{{ '/images/client_logo_07.png' | document_url }}" alt="Client Logo 07"
                     class="opacity-5 opacity-hover-10">
            </a>
            <a href="#" class="d-block p-6 px-xl-8 item" data-animate="fadeIn">
                <img src="{{ '/images/client_logo_08.png' | document_url }}" alt="Client Logo 08"
                     class="opacity-5 opacity-hover-10">
            </a>
            <a href="#" class="d-block p-6 px-xl-8 item" data-animate="fadeIn">
                <img src="{{ '/images/client_logo_09.png' | document_url }}" alt="Client Logo 09"
                     class="opacity-5 opacity-hover-10">
            </a>
            <a href="#" class="d-block p-6 px-xl-8 item" data-animate="fadeIn">
                <img src="{{ '/images/client_logo_10.png' | document_url }}" alt="Client Logo 10"
                     class="opacity-5 opacity-hover-10">
            </a>
        </div>

    </div>
</section>
<section class="py-12 py-lg-15">
    <div class="container">
        <h2 class="mb-10 text-center fs-30 fs-md-40">Happy Clients</h2>
        <div class="slick-slider custom-arrow-1"
             data-slick-options='{"slidesToShow": 3,"infinite":true,"autoplay":false,"dots":false,"arrows":true,"responsive":[{"breakpoint": 1200,"settings": {"slidesToShow":2,"arrows":false,"dots":true}},{"breakpoint": 576,"settings": {"slidesToShow": 1,"arrows":false,"dots":true}}]}'>
            {% for tes in site.data.home-02.testimonial %}
            <div class="box" data-animate="fadeInUp">
                <div class="card border-0">
                    <div class="card-body px-3 py-0 text-center">
                        <div class="mxw-84px mb-6 mx-auto">
                            <img src="{{ tes.image | document_url }}" alt="{{tes.name}}">
                        </div>
                        <ul class="list-inline mb-4">
                            <li class="list-inline-item fs-14 text-primary mr-0"><i class="fas fa-star"></i></li>
                            <li class="list-inline-item fs-14 text-primary mr-0"><i class="fas fa-star"></i></li>
                            <li class="list-inline-item fs-14 text-primary mr-0"><i class="fas fa-star"></i></li>
                            <li class="list-inline-item fs-14 text-primary mr-0"><i class="fas fa-star"></i></li>
                            <li class="list-inline-item fs-14 text-primary mr-0"><i class="fas fa-star"></i></li>
                        </ul>
                        <p class="card-text mb-4 font-weight-500">
                            {{tes.content}}
                        </p>
                        <p class="card-text text-primary font-weight-bold mb-1 fs-15">{{tes.name}}</p>
                        <p class="card-text text-muted fs-13 text-uppercase letter-spacing-05 font-weight-500">{{tes.position}}</p>

                    </div>
                </div>
            </div>
            {% endfor %}
        </div>
    </div>
</section>
<section class="pb-11 pb-lg-15">
    <div class="container">
        <div class="row align-items-center">
            <div class="col-md-8 mb-6 mb-md-0">
                <div class="slick-slider"
                     data-slick-options='{"slidesToShow": 3,"infinite":true,"autoplay":false,"dots":false,"arrows":false,"responsive":[{"breakpoint": 992,"settings": {"slidesToShow": 2}},{"breakpoint": 400,"settings": {"slidesToShow": 1}}]}'>
                    <div class="box">
                        <a href="#" class="hover-shine d-block">
                            <img src="{{ '/images/in_04.jpg' | document_url }}" alt="Instagram">
                        </a>
                    </div>
                    <div class="box">
                        <a href="#" class="hover-shine d-block">
                            <img src="{{ '/images/in_07.jpg' | document_url }}" alt="Instagram">
                        </a>
                    </div>
                    <div class="box">
                        <a href="#" class="hover-shine d-block">
                            <img src="{{ '/images/in_02.jpg' | document_url }}" alt="Instagram">
                        </a>
                    </div>
                    <div class="box">
                        <a href="#" class="hover-shine d-block">
                            <img src="{{ '/images/in_03.jpg' | document_url }}" alt="Instagram">
                        </a>
                    </div>
                </div>
            </div>
            <div class="col-md-4 text-center">
                <span class="d-block fs-30 text-primary lh-1"><i class="fab fa-instagram"></i></span>
                <p class="text-primary font-weight-bold fs-30 fs-sm-40 lh-13 mb-0">furnitor.studio</p>
                <a href="#" class="lh-12">Follow us on Instagram</a>
            </div>
        </div>
    </div>
</section>