---
layout: home-2
title: "Home 02"
category_text: "Home"
category_url: /home-02.html
---
<section class="overflow-hidden">
    <div class="slick-slider custom-slider-02 dots-white"
         data-slick-options='{"slidesToShow": 1,"infinite":true,"autoplay":false,"dots":true,"arrows":false}'>
        <div class="box">
            <div class="d-flex flex-column justify-content-center bg-img-cover-center vh-100 custom-height-sm"
                 style="background-image: url('{{ '/images/bg-home-02.jpg' | document_url }}')">
                <div class="d-flex flex-column h-100 justify-content-center">
                    <div class="container container-xxl">
                        <p class="text-white font-weight-bold fs-20 mb-4" data-animate="fadeInUp">Modern Design</p>
                        <h1 class="mb-6 fs-60 fs-xxl-100 lh-1 text-white" data-animate="fadeInUp">Sweet Home</h1>
                        <a href="#" class="btn btn-white text-uppercase letter-spacing-05" data-animate="fadeInUp">Shop
                            Now</a>
                    </div>
                </div>
            </div>
        </div>
        <div class="box">
            <div class="d-flex flex-column justify-content-center bg-img-cover-center vh-100 custom-height-sm"
                 style="background-image: url('{{ '/images/bg-home-02.jpg' | document_url }}')">
                <div class="d-flex flex-column h-100 justify-content-center">
                    <div class="container container-xxl">
                        <p class="text-white font-weight-bold fs-20 mb-4" data-animate="fadeInUp">Modern Design</p>
                        <h2 class="mb-6 fs-60 fs-xxl-100 lh-1 text-white" data-animate="fadeInUp">Sweet Home</h2>
                        <a href="#" class="btn btn-white text-uppercase letter-spacing-05" data-animate="fadeInUp">Shop
                            Now</a>
                    </div>
                </div>
            </div>
        </div>
        <div class="box">
            <div class="d-flex flex-column justify-content-center bg-img-cover-center vh-100 custom-height-sm"
                 style="background-image: url('{{ '/images/bg-home-02.jpg' | document_url }}')">
                <div class="d-flex flex-column h-100 justify-content-center">
                    <div class="container container-xxl">
                        <p class="text-white font-weight-bold fs-20 mb-4" data-animate="fadeInUp">Modern Design</p>
                        <h2 class="mb-6 fs-60 fs-xxl-100 lh-1 text-white" data-animate="fadeInUp">Sweet Home</h2>
                        <a href="#" class="btn btn-white text-uppercase letter-spacing-05" data-animate="fadeInUp">Shop
                            Now</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="py-12 py-lg-15">
    <div class="container">
        <div class="mxw-110px mx-auto mb-8" data-animate="fadeInUp">
            <img src="{{ '/images/logo_circle.png' | document_url }}" alt="Logo circle">
        </div>
        <div class="mxw-924 mx-auto" data-animate="fadeInUp">
            <h2 class="fs-30 fs-md-40 lh-14 mb-5 text-center">Having a place set aside for an activity you
                love makes it more likely you’ll do it.</h2>
            <p class="mb-6 fs-14 letter-spacing-05 text-uppercase text-primary text-center font-weight-bold">our products</p>
            <div class="text-center">
                <a href="#section-next"
                   class="go-down d-inline-flex align-items-center justify-content-center w-50px h-50px rounded-circle border"><i
                        class="far fa-arrow-down"></i></a>
            </div>
        </div>
    </div>
</section>
<section id="section-next" class="pb-11 pb-lg-15">
    <div class="container container-xxl">
        <div class="row mb-6 overflow-hidden">
            {% for product in site.data.home-02.products %}
            <div class="col-sm-6 col-lg-3 mb-6" data-animate="fadeInUp">
                <div class="card border-0 hover-change-content product">
                    <div style="background-image: url('{{ product.image | document_url }}')"
                         class="card-img ratio bg-img-cover-center ratio-1-1">
                    </div>
                    <div class="card-img-overlay d-flex py-4 py-sm-5 pl-6 pr-4">
                        <div class="d-flex flex-column">
                            <a href="#" class="font-weight-bold mb-1 d-block lh-12">{{ product.title }}</a>
                            <a href="#" class="text-uppercase text-muted letter-spacing-05 fs-13 font-weight-500">{{ product.category
                                }}</a>
                            <p class="mt-auto text-primary mb-0 font-weight-500">
                                {% if product.sale %}
                                <span
                                        class="text-line-through text-secondary fs-14 d-inline-block mr-2 font-weight-normal">{{ product.sale }}</span>
                                {% endif %}
                                {{ product.price }}</p>
                        </div>
                        <div class="ml-auto d-flex flex-column">
                            {%- assign label = product.label | slugify -%}
                            {% if label == "new" %}
                            <div class="badge badge-green badge-circle ml-auto w-45px h-45px fs-12 d-flex align-items-center justify-content-center mb-2">
                                new
                            </div>
                            {% endif %}
                            {% if label == "sale" %}
                            <div class="badge badge-pink badge-circle ml-auto w-45px h-45px fs-12 d-flex align-items-center justify-content-center mb-2">
                                sale
                            </div>
                            {% endif %}
                            {% if label == "hot" %}
                            <div class="badge badge-yellow badge-circle ml-auto w-45px h-45px fs-12 d-flex align-items-center justify-content-center mb-2">
                                hot
                            </div>
                            {% endif %}
                            <div class="my-auto content-change-vertical">
                                <a href="#" data-toggle="tooltip" data-placement="left" title="Add to card"
                                   class="add-to-cart d-flex align-items-center justify-content-center text-primary bg-white hover-white bg-hover-primary w-45px h-45px rounded-circle mb-2 border">
                                    <i class="far fa-shopping-basket"></i>
                                </a>
                                <a href="#" data-toggle="tooltip" data-placement="left" title="Add to favourite"
                                   class="add-to-wishlist d-flex align-items-center justify-content-center text-primary bg-white hover-white bg-hover-primary w-45px h-45px rounded-circle mb-2 border">
                                    <i class="far fa-heart"></i>
                                </a>
                                <a href="#" data-toggle="tooltip" data-placement="left" title="Add to compare"
                                   class="add-to-compare d-flex align-items-center justify-content-center text-primary bg-white hover-white bg-hover-primary w-45px h-45px rounded-circle mb-2 border">
                                    <i class="far fa-random"></i>
                                </a>
                                <a href="#" data-toggle="tooltip" data-placement="left" title="Preview"
                                   class="preview d-flex align-items-center justify-content-center text-primary bg-white hover-white bg-hover-primary w-45px h-45px rounded-circle mb-2 border">
                                    <i class="far fa-eye"></i>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>
        <div class="text-center">
            <a href="{{ '/shop-page-06.html' | document_url }}"
               class="btn btn-outline-primary text-uppercase letter-spacing-05">Shop Now</a>
        </div>
    </div>

</section>
<section class="pb-10 pb-lg-15 overflow-hidden">
    <div class="container container-xxl">
        <div class="row align-items-center no-gutters">
            <div class="col-lg-3 mb-6 mb-lg-0 pr-xxl-8" data-animate="fadeInLeft">
                <h2 class="fs-30 fs-md-56 mb-5">Refresh<br>
                    Your Room</h2>
                <p class="mb-0 font-weight-500">Having a place set aside for an activity you love makes it more likely you’ll do it.</p>
                <div class="pt-8 pt-lg-11 d-flex custom-arrow">
                    <a href="#" class="arrow slick-prev"><i class="far fa-arrow-left"></i></a>
                    <a href="#" class="arrow slick-next"><i class="far fa-arrow-right"></i></a>
                </div>
            </div>
            <div class="category-slider pl-xxl-9 pr-lg-6" data-animate="fadeInRight">
                <div class="slick-slider custom-nav custom-slider-01"
                     data-slick-options='{"slidesToShow": 2,"infinite":true,"autoplay":false,"dots":false,"arrows":false,"responsive":[{"breakpoint": 1200,"settings": {"slidesToShow":2}},{"breakpoint": 576,"settings": {"slidesToShow": 1}}]}'>
                    <div class="box">
                        <div class="card border-0">
                            <img src="{{ '/images/c_04.jpg' | document_url }}" alt="Chairs" class="card-img">
                            <div class="card-img-overlay d-inline-flex flex-column px-7 pt-6 pb-7">
                                <h3 class="card-title fs-20 fs-md-40">Chairs</h3>
                                <div class="mt-auto">
                                    <a href="#"
                                       class="text-uppercase fs-14 letter-spacing-05 border-bottom border-light-dark border-hover-primary font-weight-bold">Shop
                                        Now</a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="box">
                        <div class="card border-0">
                            <img src="{{ '/images/c_05.jpg' | document_url }}" alt="Accessories" class="card-img">
                            <div class="card-img-overlay d-inline-flex flex-column px-7 pt-6 pb-7">
                                <h3 class="card-title fs-20 fs-md-40">Planters</h3>
                                <div class="mt-auto">
                                    <a href="#"
                                       class="text-uppercase fs-14 letter-spacing-05 border-bottom border-light-dark border-hover-primary font-weight-bold">Shop
                                        Now</a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="box">
                        <div class="card border-0">
                            <img src="{{ '/images/c_06.jpg' | document_url }}" alt="Tables" class="card-img">
                            <div class="card-img-overlay d-inline-flex flex-column px-7 pt-6 pb-7">
                                <h3 class="card-title fs-20 fs-md-40">Tables</h3>
                                <div class="mt-auto">
                                    <a href="#"
                                       class="text-uppercase fs-14 letter-spacing-05 border-bottom border-light-dark border-hover-primary font-weight-bold">Shop
                                        Now</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<section class="pb-12 pb-lg-15">
    <div class="container container-xxl">
        <div class="row no-gutters">
            <div class="col-lg-7 order-2 order-lg-1" data-animate="fadeInLeft">
                <div class="slick-slider dots-inner-center"
                     data-slick-options='{"slidesToShow": 1,"infinite":true,"autoplay":false,"dots":true,"arrows":false}'>
                    <div class="box">
                        <div class="image-marker">
                            <img src="{{ '/images/image-marker-01.jpg' | document_url }}" alt="Image Marker">
                            <a href="#" class="image-pointer"
                               style="left:25%;top:61.5%;"
                               title="<h5 class='title fs-14'>Partridge Rectangle</h5><p class='description fs-15'>$1390.00</p>"
                               data-toggle="tooltip">
                                <div class="pointer-icon">
                                    <i class="fal fa-plus"></i>
                                </div>
                            </a>
                            <a href="#" class="image-pointer"
                               style="left:50%;top:35%;"
                               title="<h5 class='title fs-14'>Partridge Rectangle</h5><p class='description fs-15'>$1390.00</p>"
                               data-toggle="tooltip">
                                <div class="pointer-icon">
                                    <i class="fal fa-plus"></i>
                                </div>
                            </a>
                            <a href="#" class="image-pointer"
                               style="left:71%;top:46%;"
                               title="<h5 class='title fs-14'>Partridge Rectangle</h5><p class='description fs-15'>$1390.00</p>"
                               data-toggle="tooltip">
                                <div class="pointer-icon">
                                    <i class="fal fa-plus"></i>
                                </div>
                            </a>
                        </div>
                    </div>
                    <div class="box">
                        <div class="image-marker">
                            <img src="{{ '/images/image-marker-01.jpg' | document_url }}" alt="Image Marker">
                            <a href="#" class="image-pointer"
                               style="left:25%;top:61.5%;"
                               title="<h5 class='title fs-14'>Partridge Rectangle</h5><p class='description fs-15'>$1390.00</p>"
                               data-toggle="tooltip">
                                <div class="pointer-icon">
                                    <i class="fal fa-plus"></i>
                                </div>
                            </a>
                            <a href="#" class="image-pointer"
                               style="left:50%;top:35%;"
                               title="<h5 class='title fs-14'>Partridge Rectangle</h5><p class='description fs-15'>$1390.00</p>"
                               data-toggle="tooltip">
                                <div class="pointer-icon">
                                    <i class="fal fa-plus"></i>
                                </div>
                            </a>
                            <a href="#" class="image-pointer"
                               style="left:71%;top:46%;"
                               title="<h5 class='title fs-14'>Partridge Rectangle</h5><p class='description fs-15'>$1390.00</p>"
                               data-toggle="tooltip">
                                <div class="pointer-icon">
                                    <i class="fal fa-plus"></i>
                                </div>
                            </a>
                        </div>
                    </div>
                    <div class="box">
                        <div class="image-marker">
                            <img src="{{ '/images/image-marker-01.jpg' | document_url }}" alt="Image Marker">
                            <a href="#" class="image-pointer"
                               style="left:25%;top:61.5%;"
                               title="<h5 class='title fs-14'>Partridge Rectangle</h5><p class='description fs-15'>$1390.00</p>"
                               data-toggle="tooltip">
                                <div class="pointer-icon">
                                    <i class="fal fa-plus"></i>
                                </div>
                            </a>
                            <a href="#" class="image-pointer"
                               style="left:50%;top:35%;"
                               title="<h5 class='title fs-14'>Partridge Rectangle</h5><p class='description fs-15'>$1390.00</p>"
                               data-toggle="tooltip">
                                <div class="pointer-icon">
                                    <i class="fal fa-plus"></i>
                                </div>
                            </a>
                            <a href="#" class="image-pointer"
                               style="left:71%;top:46%;"
                               title="<h5 class='title fs-14'>Partridge Rectangle</h5><p class='description fs-15'>$1390.00</p>"
                               data-toggle="tooltip">
                                <div class="pointer-icon">
                                    <i class="fal fa-plus"></i>
                                </div>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-5 order-1 order-lg-2 pl-lg-15 mb-8 mb-lg-0" data-animate="fadeInRight">
                <div class="d-flex flex-column justify-content-center h-100 mxw-435px pl-lg-2">
                    <h2 class="fs-30 fs-md-56 mb-3">Room Inspiration</h2>
                    <p class="mb-7 font-weight-500">We believe in crafting pieces where sustainability and style go hand in hand. Made
                        from
                        materials like recycled cashmere and sustainable.</p>
                    <div>
                        <a href="{{ '/shop-page-06.html' | document_url }}"
                           class="btn btn-outline-primary text-uppercase letter-spacing-05">shop this look</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<section class="pb-12 pb-lg-15 pt-2">
    <div class="container">
        <h2 class="fs-30 fs-md-40 mb-10 text-center">Happy Clients</h2>
        <div class="slick-slider custom-arrow-1"
             data-slick-options='{"slidesToShow": 3,"infinite":true,"autoplay":false,"dots":false,"arrows":true,"responsive":[{"breakpoint": 1200,"settings": {"slidesToShow":2,"arrows":false,"dots":true}},{"breakpoint": 576,"settings": {"slidesToShow": 1,"arrows":false,"dots":true}}]}'>
            {% for tes in site.data.home-02.testimonial %}
            <div class="box">
                <div class="card border-0">
                    <div class="card-body px-3 py-0 text-center">
                        <div class="mxw-84px mb-6 mx-auto">
                            <img src="{{ tes.image | document_url }}" alt="{{tes.name}}">
                        </div>
                        <ul class="list-inline mb-4">
                            <li class="list-inline-item fs-14 text-primary mr-0"><i class="fas fa-star"></i></li>
                            <li class="list-inline-item fs-14 text-primary mr-0"><i class="fas fa-star"></i></li>
                            <li class="list-inline-item fs-14 text-primary mr-0"><i class="fas fa-star"></i></li>
                            <li class="list-inline-item fs-14 text-primary mr-0"><i class="fas fa-star"></i></li>
                            <li class="list-inline-item fs-14 text-primary mr-0"><i class="fas fa-star"></i></li>
                        </ul>
                        <p class="card-text mb-4 font-weight-500">
                            {{tes.content}}
                        </p>
                        <p class="card-text text-primary font-weight-bold mb-1 fs-15">{{tes.name}}</p>
                        <p class="card-text text-muted fs-13 text-uppercase letter-spacing-05 font-weight-500">{{tes.position}}</p>

                    </div>
                </div>
            </div>
            {% endfor %}
        </div>
    </div>
</section>
<section class="py-12 pb-lg-15" style="background-color: #dedbd2;">
    <div class="container">
        <div class="row">
            <div class="col-lg-6 mx-auto">
                <div class="col-lg-auto ml-lg-auto text-center">
                    <div class="d-flex flex-column align-items-center">
                        <div class="w-124px mb-8">
                            <img src="{{ '/images/icon_sub.png' | document_url }}" alt="Icon sub">
                        </div>
                        <h2 class="fs-30 fs-md-40 mb-4 text-center">Sign Up for Newsletter</h2>
                        <p class="mb-6 font-weight-500">Enter your email below to be the first to know.</p>
                        <form class="w-100">
                            <div class="input-group position-relative">
                                <input type="text"
                                       class="form-control border-top-0 border-left-0 border-right-0 px-0 border-2x bg-transparent"
                                       placeholder="Email Address">
                                <div class="input-group-append fs-14 position-absolute pos-fixed-right-center z-index-2">
                                    <button class="bg-transparent border-0 outline-none">
                                        <i class="far fa-arrow-right"></i>
                                    </button>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<section class="py-8 border-bottom">
    <div class="container container-xxl">
        <div class="slick-slider"
             data-slick-options='{"slidesToShow": 7,"infinite":true,"autoplay":false,"dots":false,"arrows":false,"responsive":[{"breakpoint": 1367,"settings": {"slidesToShow":5}},{"breakpoint": 992,"settings": {"slidesToShow":5}},{"breakpoint": 768,"settings": {"slidesToShow": 4}},{"breakpoint": 576,"settings": {"slidesToShow": 2}}]}'>
            <div class="box">
                <a href="#" class="d-block px-3 px-xl-7">
                    <img src="{{ '/images/client_logo_01.png' | document_url }}" alt="Client Logo 01"
                         class="opacity-5 opacity-hover-10">
                </a>
            </div>
            <div class="box">
                <a href="#" class="d-block px-3 px-xl-7">
                    <img src="{{ '/images/client_logo_02.png' | document_url }}" alt="Client Logo 02"
                         class="opacity-5 opacity-hover-10">
                </a>
            </div>
            <div class="box">
                <a href="#" class="d-block px-3 px-xl-7">
                    <img src="{{ '/images/client_logo_03.png' | document_url }}" alt="Client Logo 03"
                         class="opacity-5 opacity-hover-10">
                </a>
            </div>
            <div class="box">
                <a href="#" class="d-block px-3 px-xl-7">
                    <img src="{{ '/images/client_logo_04.png' | document_url }}" alt="Client Logo 04"
                         class="opacity-5 opacity-hover-10">
                </a>
            </div>
            <div class="box">
                <a href="#" class="d-block px-3 px-xl-7">
                    <img src="{{ '/images/client_logo_05.png' | document_url }}" alt="Client Logo 05"
                         class="opacity-5 opacity-hover-10">
                </a>
            </div>
            <div class="box">
                <a href="#" class="d-block px-3 px-xl-7">
                    <img src="{{ '/images/client_logo_06.png' | document_url }}" alt="Client Logo 06"
                         class="opacity-5 opacity-hover-10">
                </a>
            </div>
            <div class="box">
                <a href="#" class="d-block px-3 px-xl-7">
                    <img src="{{ '/images/client_logo_07.png' | document_url }}" alt="Client Logo 07"
                         class="opacity-5 opacity-hover-10">
                </a>
            </div>
            <div class="box">
                <a href="#" class="d-block px-3 px-xl-7">
                    <img src="{{ '/images/client_logo_08.png' | document_url }}" alt="Client Logo 08"
                         class="opacity-5 opacity-hover-10">
                </a>
            </div>
            <div class="box">
                <a href="#" class="d-block px-3 px-xl-7">
                    <img src="{{ '/images/client_logo_09.png' | document_url }}" alt="Client Logo 09"
                         class="opacity-5 opacity-hover-10">
                </a>
            </div>
            <div class="box">
                <a href="#" class="d-block px-3 px-xl-7">
                    <img src="{{ '/images/client_logo_10.png' | document_url }}" alt="Client Logo 10"
                         class="opacity-5 opacity-hover-10">
                </a>
            </div>
        </div>
    </div>
</section>
<section class="py-12 pt-lg-15">
    <div class="container">
        <h2 class="mb-9 text-center fs-30 fs-md-40">Our Journal</h2>
        <div class="slick-slider"
             data-slick-options='{"slidesToShow": 3,"infinite":true,"autoplay":false,"dots":false,"arrows":false,"responsive":[{"breakpoint": 992,"settings": {"slidesToShow":2}},{"breakpoint": 576,"settings": {"slidesToShow":1}}]}'>
            {% for blog in site.data.home-02.blogs %}
            <div class="box">
                <div class="card border-0">
                <a href="{{ '/blog-post-01.html' | document_url }}" class="hover-shine card-img-top">
                    <img src="{{ blog.image | document_url }}"
                         alt="{{blog.title}}">
                </a>
                <div class="card-body px-0 pt-6">
                    <p class="card-text fs-12 mb-2 text-muted lh-12 text-uppercase letter-spacing-05 font-weight-500">
                        {{blog.date}}
                    </p>
                    <h3 class="card-title mb-3 fs-20">
                        <a href="{{ '/blog-post-01.html' | document_url }}">{{blog.title}}</a>
                    </h3>
                    <p class="card-text mb-4 font-weight-500">{{blog.content}}</p>
                    <a href="#"
                       class="fs-14 font-weight-bold border-bottom border-light-dark text-uppercase letter-spacing-05 d-inline-block border-hover-primary">
                        Read more
                    </a>
                </div>
            </div>
            </div>
            {% endfor %}
        </div>

    </div>
</section>
