---
layout: home-11
title: "Home 11"
category_text: "Home"
category_url: /home-11.html
---
<section>
    <div class="container">
        <div class="slick-slider dots-inner-right slick-dots-light image-marler-slider"
             data-slick-options='{"slidesToShow": 1,"infinite":true,"autoplay":false,"dots":true,"arrows":false}'>
            <div class="box">
                <div class="image-marker">
                    <img src="{{ '/images/image-marker-02.jpg' | document_url }}" alt="Image Marker">
                    <a href="#" class="image-pointer"
                       style="left:13%;top:68.5%;"
                       title="<h5 class='title fs-14'>Partridge Rectangle</h5><p class='description fs-15'>$1390.00</p>"
                       data-toggle="tooltip">
                        <div class="pointer-icon">
                            <i class="fal fa-plus"></i>
                        </div>
                    </a>
                    <a href="#" class="image-pointer"
                       style="left:20%;top:23%;"
                       title="<h5 class='title fs-14'>Partridge Rectangle</h5><p class='description fs-15'>$1390.00</p>"
                       data-toggle="tooltip">
                        <div class="pointer-icon">
                            <i class="fal fa-plus"></i>
                        </div>
                    </a>
                    <a href="#" class="image-pointer"
                       style="left:62%;top:53%;"
                       title="<h5 class='title fs-14'>Partridge Rectangle</h5><p class='description fs-15'>$1390.00</p>"
                       data-toggle="tooltip">
                        <div class="pointer-icon">
                            <i class="fal fa-plus"></i>
                        </div>
                    </a>
                    <p class="text-white position-absolute fixed-bottom image-description mb-0 d-none d-sm-block border-2x">Collection <a
                            href="#" class="border-bottom border-white-darker font-weight-bold text-white">Spring -
                        Summer Vibe 2021</a></p>
                </div>
            </div>
            <div class="box">
                <div class="image-marker">
                    <img src="{{ '/images/image-marker-02.jpg' | document_url }}" alt="Image Marker">
                    <a href="#" class="image-pointer"
                       style="left:13%;top:68.5%;"
                       title="<h5 class='title fs-14'>Partridge Rectangle</h5><p class='description fs-15'>$1390.00</p>"
                       data-toggle="tooltip">
                        <div class="pointer-icon">
                            <i class="fal fa-plus"></i>
                        </div>
                    </a>
                    <a href="#" class="image-pointer"
                       style="left:20%;top:23%;"
                       title="<h5 class='title fs-14'>Partridge Rectangle</h5><p class='description fs-15'>$1390.00</p>"
                       data-toggle="tooltip">
                        <div class="pointer-icon">
                            <i class="fal fa-plus"></i>
                        </div>
                    </a>
                    <a href="#" class="image-pointer"
                       style="left:62%;top:53%;"
                       title="<h5 class='title fs-14'>Partridge Rectangle</h5><p class='description fs-15'>$1390.00</p>"
                       data-toggle="tooltip">
                        <div class="pointer-icon">
                            <i class="fal fa-plus"></i>
                        </div>
                    </a>
                    <p class="text-white position-absolute fixed-bottom image-description mb-0 d-none d-sm-block border-2x">Collection <a
                            href="#" class="border-bottom border-white-darker font-weight-bold text-white">Spring -
                        Summer Vibe 2021</a></p>
                </div>
            </div>
            <div class="box">
                <div class="image-marker">
                    <img src="{{ '/images/image-marker-02.jpg' | document_url }}" alt="Image Marker">
                    <a href="#" class="image-pointer"
                       style="left:13%;top:68.5%;"
                       title="<h5 class='title fs-14'>Partridge Rectangle</h5><p class='description fs-15'>$1390.00</p>"
                       data-toggle="tooltip">
                        <div class="pointer-icon">
                            <i class="fal fa-plus"></i>
                        </div>
                    </a>
                    <a href="#" class="image-pointer"
                       style="left:20%;top:23%;"
                       title="<h5 class='title fs-14'>Partridge Rectangle</h5><p class='description fs-15'>$1390.00</p>"
                       data-toggle="tooltip">
                        <div class="pointer-icon">
                            <i class="fal fa-plus"></i>
                        </div>
                    </a>
                    <a href="#" class="image-pointer"
                       style="left:62%;top:53%;"
                       title="<h5 class='title fs-14'>Partridge Rectangle</h5><p class='description fs-15'>$1390.00</p>"
                       data-toggle="tooltip">
                        <div class="pointer-icon">
                            <i class="fal fa-plus"></i>
                        </div>
                    </a>
                    <p class="text-white position-absolute fixed-bottom image-description mb-0 d-none d-sm-block border-2x">Collection <a
                            href="#" class="border-bottom border-white-darker font-weight-bold text-white">Spring -
                        Summer Vibe 2021</a></p>
                </div>
            </div>
        </div>
    </div>
</section>
<section class="pt-6">
    <div class="container">
        <div class="slick-slider"
             data-slick-options='{"slidesToShow": 3,"infinite":true,"autoplay":false,"dots":false,"arrows":false,"responsive":[{"breakpoint": 991,"settings": {"slidesToShow":2}},{"breakpoint": 576,"settings": {"slidesToShow": 1}}]}'>
            <div class="box">
                <div class="card border-0">
                    <img src="{{ '/images/c_04.jpg' | document_url }}" alt="Chairs" class="card-img">
                    <div class="card-img-overlay d-inline-flex flex-column p-4">
                        <h3 class="card-title fs-30">Chairs</h3>
                        <div class="mt-auto">
                            <a href="#"
                               class="text-uppercase fs-14 letter-spacing-05 border-bottom border-light-dark border-hover-primary font-weight-bold">Shop
                                Now</a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="box">
                <div class="card border-0">
                    <img src="{{ '/images/c_05.jpg' | document_url }}" alt="Accessories" class="card-img">
                    <div class="card-img-overlay d-inline-flex flex-column p-4">
                        <h3 class="card-title fs-30">Planters</h3>
                        <div class="mt-auto">
                            <a href="#"
                               class="text-uppercase fs-14 letter-spacing-05 border-bottom border-light-dark border-hover-primary font-weight-bold">Shop
                                Now</a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="box">
                <div class="card border-0">
                    <img src="{{ '/images/c_06.jpg' | document_url }}" alt="Tables" class="card-img">
                    <div class="card-img-overlay d-inline-flex flex-column p-4">
                        <h3 class="card-title fs-30">Tables</h3>
                        <div class="mt-auto">
                            <a href="#"
                               class="text-uppercase fs-14 letter-spacing-05 border-bottom border-light-dark border-hover-primary font-weight-bold">Shop
                                Now</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<section class="py-11 py-lg-15">
    <div class="container">
        <h2 class="mb-8 text-center fs-30 fs-md-40">Essenstial Items</h2>
        <div class="row mb-1">
            {% for product in site.data.home-04.products %}
            <div class="col-sm-6 col-lg-3 mb-8" data-animate="fadeInUp">
                <div class="card border-0 hover-change-content product">
                    <div class="card-img-top position-relative">
                        <div style="background-image: url('{{ product.image | document_url }}')"
                             class="card-img ratio bg-img-cover-center ratio-1-1">
                        </div>
                        <div class="position-absolute pos-fixed-bottom px-4 px-sm-6 pb-5 d-flex w-100 justify-content-center content-change-horizontal">
                            <a href="#" data-toggle="tooltip" title="Add to cart"
                               class="add-to-cart d-flex align-items-center justify-content-center text-primary bg-white hover-white bg-hover-primary w-45px h-45px rounded-circle mr-2 border">
                                <i class="far fa-shopping-basket"></i>
                            </a>
                            <a href="#" data-toggle="tooltip" title="Add to favourite"
                               class="add-to-wishlist d-flex align-items-center justify-content-center text-primary bg-white hover-white bg-hover-primary w-45px h-45px rounded-circle mr-2 border">
                                <i class="far fa-heart"></i>
                            </a>
                            <a href="#" data-toggle="tooltip" title="Add to compare"
                               class="add-to-compare d-flex align-items-center justify-content-center text-primary bg-white hover-white bg-hover-primary w-45px h-45px rounded-circle mr-2 border">
                                <i class="far fa-random"></i>
                            </a>
                            <a href="#" data-toggle="tooltip" title="Preview"
                               class="preview d-flex align-items-center justify-content-center text-primary bg-white hover-white bg-hover-primary w-45px h-45px rounded-circle border">
                                <i class="far fa-eye"></i>
                            </a>
                        </div>
                    </div>
                    <div class="card-body px-0 pt-4 pb-0 d-flex align-items-end">
                        <div class="mr-auto">
                            <a href="#" class="text-uppercase text-muted letter-spacing-05 fs-12 d-block font-weight-500">{{product.category}}</a>
                            <a href="#" class="font-weight-bold mt-1 d-block">{{product.title}}</a>
                        </div>
                        <p class="text-primary mb-0 font-weight-500">{{product.price}}</p>
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>
        <div class="text-center">
            <a href="{{ '/shop-page-04.html' | document_url }}"
               class="btn btn-outline-primary text-uppercase letter-spacing-05">Shop Now</a>
        </div>

    </div>
</section>
<section class="pb-11 pb-lg-15">
    <div class="container">
        <div class="card border-0 banner banner-09">
            <div class="card-img bg-img-cover-center" style="background-image: url('{{ '/images/b-11.jpg' | document_url }}')"></div>
            <div class="card-img-overlay d-flex flex-column py-md-10 px-md-9">
                <p class="text-primary font-weight-bold fs-20 mb-2">New - In</p>
                <h3 class="card-title fs-40 fs-md-60"><a href="{{ '/shop-page-06.html' | document_url }}">Happy<br>
                    Dining Set</a></h3>
                <div class="mt-auto">
                    <a href="{{ '/shop-page-04.html' | document_url }}"
                       class="btn btn-outline-primary text-uppercase letter-spacing-05">from $500</a>
                </div>
            </div>
        </div>
    </div>
</section>
<section class="pb-8 pb-lg-10">
    <div class="container">
        <h2 class="text-center fs-30 fs-md-40 mb-7">Shop by Brands</h2>
        <div class="d-flex flex-wrap client-logo-02 justify-content-center">
            <a href="#" class="d-block p-6 px-xl-8 item" data-animate="fadeIn">
                <img src="{{ '/images/client_logo_01.png' | document_url }}" alt="Client Logo 01"
                     class="opacity-5 opacity-hover-10">
            </a>
            <a href="#" class="d-block p-6 px-xl-8 item" data-animate="fadeIn">
                <img src="{{ '/images/client_logo_02.png' | document_url }}" alt="Client Logo 02"
                     class="opacity-5 opacity-hover-10">
            </a>
            <a href="#" class="d-block p-6 px-xl-8 item" data-animate="fadeIn">
                <img src="{{ '/images/client_logo_03.png' | document_url }}" alt="Client Logo 03"
                     class="opacity-5 opacity-hover-10">
            </a>
            <a href="#" class="d-block p-6 px-xl-8 item" data-animate="fadeIn">
                <img src="{{ '/images/client_logo_04.png' | document_url }}" alt="Client Logo 04"
                     class="opacity-5 opacity-hover-10">
            </a>
            <a href="#" class="d-block p-6 px-xl-8 item" data-animate="fadeIn">
                <img src="{{ '/images/client_logo_05.png' | document_url }}" alt="Client Logo 05"
                     class="opacity-5 opacity-hover-10">
            </a>
            <a href="#" class="d-block p-6 px-xl-8 item" data-animate="fadeIn">
                <img src="{{ '/images/client_logo_06.png' | document_url }}" alt="Client Logo 06"
                     class="opacity-5 opacity-hover-10">
            </a>
            <a href="#" class="d-block p-6 px-xl-8 item" data-animate="fadeIn">
                <img src="{{ '/images/client_logo_07.png' | document_url }}" alt="Client Logo 07"
                     class="opacity-5 opacity-hover-10">
            </a>
            <a href="#" class="d-block p-6 px-xl-8 item" data-animate="fadeIn">
                <img src="{{ '/images/client_logo_08.png' | document_url }}" alt="Client Logo 08"
                     class="opacity-5 opacity-hover-10">
            </a>
            <a href="#" class="d-block p-6 px-xl-8 item" data-animate="fadeIn">
                <img src="{{ '/images/client_logo_09.png' | document_url }}" alt="Client Logo 09"
                     class="opacity-5 opacity-hover-10">
            </a>
            <a href="#" class="d-block p-6 px-xl-8 item" data-animate="fadeIn">
                <img src="{{ '/images/client_logo_10.png' | document_url }}" alt="Client Logo 10"
                     class="opacity-5 opacity-hover-10">
            </a>
        </div>

    </div>
</section>
<section class="pb-11 pb-lg-15">
    <div class="container">
        <h2 class="mb-8 text-center fs-30 fs-md-40">Our Journal</h2>
        <div class="slick-slider"
             data-slick-options='{"slidesToShow": 3,"infinite":true,"autoplay":false,"dots":false,"arrows":false,"responsive":[{"breakpoint": 992,"settings": {"slidesToShow":2}},{"breakpoint": 576,"settings": {"slidesToShow":1}}]}'>
            {% for blog in site.data.home-02.blogs %}
            <div class="box" data-animate="fadeInUp">
                <div class="card border-0">
                    <a href="{{ '/blog-post-01.html' | document_url }}" class="hover-shine card-img-top">
                        <img src="{{ blog.image | document_url }}"
                             alt="{{blog.title}}">
                    </a>
                    <div class="card-body px-0 pt-6 pb-0">
                        <p class="card-text fs-12 mb-2 text-muted lh-12 text-uppercase letter-spacing-05 font-weight-500">
                            {{blog.date}}
                        </p>
                        <h3 class="card-title mb-3 fs-20">
                            <a href="{{ '/blog-post-01.html' | document_url }}">{{blog.title}}</a>
                        </h3>
                        <p class="card-text mb-4 font-weight-500">{{blog.content}}</p>
                        <a href="#"
                           class="fs-14 font-weight-bold border-bottom border-light-dark text-uppercase letter-spacing-05 d-inline-block border-hover-primary">
                            Read more
                        </a>
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>

    </div>
</section>

