@import "components/button";
@import "components/navbar";
@import "components/dropdown";
@import "components/breadcrumb";
@import "components/slick-slider";
@import "components/page-title";
@import "components/image-marker";
@import "components/product";
@import "components/badge";
@import "components/clients-logo";
@import "components/accordion";
@import "components/widget";
@import "components/canvas";
@import "components/pagination";
@import "components/utilities";
@import "components/gallery";
@import "components/nav";
@import "components/tabs";
@import "components/table";
@import "components/review";
@import "components/single-product";
@import "components/search";
@import "components/landing";
@import "components/home";
@import "components/footer";
@import "components/animate";
@import "components/banner";
