[phases.setup]
nixPkgs = ["nodejs-20_x", "coreutils"]

[phases.install]
cmds = [
  "corepack enable",
  "corepack prepare pnpm@latest --activate",
  "pnpm install"
]

[phases.build]
cmds = [
  "pnpm run build"
]

[phases.start]
cmd = "pnpm run start"

[variables]
NODE_ENV = "production"

