<footer class="pt-12 pb-5 footer bg-primary">
    <div class="container container-xxl">
        <div class="row">
            <div class="col-lg-4 mb-6 mb-lg-0">
                <h2 class="fs-40 mb-3 text-white">We’re here to help.</h2>
            </div>
            <div class="col-sm-6 col-lg mb-6 mb-lg-0">
                <h3 class="fs-14 mb-3 text-uppercase text-white letter-spacing-05">menu</h3>
                <ul class="list-unstyled mb-0">
                    <li class="py-0"><a href="#" class="text-gray hover-white lh-2 font-weight-500">Seatting</a></li>
                    <li class="py-0"><a href="#" class="text-gray hover-white lh-2 font-weight-500">Tables</a></li>
                    <li class="py-0"><a href="#" class="text-gray hover-white lh-2 font-weight-500">Decoration</a></li>
                    <li class="py-0"><a href="#" class="text-gray hover-white lh-2 font-weight-500">Lighting</a></li>
                    <li class="py-0"><a href="#" class="text-gray hover-white lh-2 font-weight-500">Gift Ideas</a></li>
                </ul>
            </div>
            <div class="col-sm-6 col-lg mb-6 mb-lg-0">
                <h3 class="fs-14 mb-3 text-uppercase text-white letter-spacing-05">about</h3>
                <ul class="list-unstyled mb-0">
                    <li class="py-0"><a href="#" class="text-gray hover-white lh-2 font-weight-500">Contact Us</a></li>
                    <li class="py-0"><a href="#" class="text-gray hover-white lh-2 font-weight-500">Contributiors</a></li>
                    <li class="py-0"><a href="#" class="text-gray hover-white lh-2 font-weight-500">Privacy</a></li>
                    <li class="py-0"><a href="#" class="text-gray hover-white lh-2 font-weight-500">Sponsors</a></li>
                </ul>
            </div>
            <div class="col-sm-6 col-lg mb-6 mb-lg-0">
                <h3 class="fs-14 mb-3 text-uppercase text-white letter-spacing-05">follow us</h3>
                <ul class="list-unstyled mb-0">
                    <li class="py-0"><a href="#" class="text-gray hover-white lh-2 font-weight-500">Facebook</a></li>
                    <li class="py-0"><a href="#" class="text-gray hover-white lh-2 font-weight-500">Pinterest</a></li>
                    <li class="py-0"><a href="#" class="text-gray hover-white lh-2 font-weight-500">Instagram</a></li>
                    <li class="py-0"><a href="#" class="text-gray hover-white lh-2 font-weight-500">Twitter</a></li>
                </ul>
            </div>
            <div class="col-sm-6 col-lg mb-6 mb-lg-0">
                <h3 class="fs-14 mb-3 text-uppercase text-white letter-spacing-05">Instagram</h3>
                <ul class="list-inline mb-2 d-flex">
                    <li class="list-inline-item mr-2">
                        <a href="#">
                            <img src="{{ '/images/in_01.jpg' | document_url }}" alt="Instagram 01">
                        </a>
                    </li>
                    <li class="list-inline-item mr-2">
                        <a href="#">
                            <img src="{{ '/images/in_02.jpg' | document_url }}" alt="Instagram 02">
                        </a>
                    </li>
                    <li class="list-inline-item">
                        <a href="#">
                            <img src="{{ '/images/in_03.jpg' | document_url }}" alt="Instagram 03">
                        </a>
                    </li>
                </ul>
                <a href="#" class="text-white py-1 fs-14 font-weight-500">@furnitor.trendy</a>
            </div>
        </div>
        <div class="mt-2 mt-md-7 row align-items-center">
            <p class="col-md-auto mb-4 mb-md-0 text-white-darker lh-1 fs-14 font-weight-500">
                © 2021 Furnitor. All rights reserved.
            </p>
            <ul class="list-inline mb-0 col-md-6 ml-md-auto text-md-right">
                <li class="list-inline-item">
                    <a href="#"><img src="{{ '/images/card_01.png' | document_url }}" alt="Amex"></a>
                </li>
                <li class="list-inline-item">
                    <a href="#"><img src="{{ '/images/card_02.png' | document_url }}" alt="G-Pay"></a>
                </li>
                <li class="list-inline-item">
                    <a href="#"><img src="{{ '/images/card_03.png' | document_url }}" alt="Master Card"></a>
                </li>
                <li class="list-inline-item">
                    <a href="#"><img src="{{ '/images/card_04.png' | document_url }}" alt="Paypal"></a>
                </li>
                <li class="list-inline-item">
                    <a href="#"><img src="{{ '/images/card_05.png' | document_url }}" alt="D-Pay"></a>
                </li>
                <li class="list-inline-item">
                    <a href="#"><img src="{{ '/images/card_06.png' | document_url }}" alt="V-Card"></a>
                </li>
            </ul>

        </div>
    </div>
</footer>