<div class="navbar-right">
    <ul class="navbar-nav flex-row justify-content-xl-end d-flex flex-wrap text-body py-2 ">
        <li class="nav-item">
            <a class="nav-link pr-3" href="#">
                Account
            </a>
        </li>
        <li class="nav-item">
            <a data-toggle="collapse" href="#collapseSearch1" aria-expanded="false"
               aria-controls="collapseSearch1" class="nav-link nav-search px-3" title="Search">Search</a>

        </li>
        <li class="nav-item">
            <a class="nav-link position-relative px-3" href="#"><i class="far fa-heart"></i>
                <span class="position-absolute number">0</span></a>
        </li>
        <li class="nav-item">
            <a class="nav-link position-relative px-3 menu-cart" href="#" data-canvas="true"
               data-canvas-options='{"container":".cart-canvas"}'>
                <i class="far fa-shopping-basket"></i>
                <span class="position-absolute number">0</span>
            </a>
        </li>
    </ul>
    <div class="collapse py-3" id="collapseSearch1">
        <form class="form-search-header">
            <div class="input-group position-relative input-group-search">
                <input type="text"
                       class="form-control bg-transparent input-search">
                <div class="input-group-append position-absolute pos-fixed-right-center">
                    <button class="input-group-text bg-transparent border-0 fs-18 pl-0"
                            type="submit"><i
                            class="far fa-search"></i></button>
                </div>
            </div>
        </form>
    </div>
</div>
