<ul class="navbar-nav flex-row justify-content-xl-end d-flex flex-wrap text-body py-2 navbar-right">
    <li class="nav-item">
        <a class="nav-link pr-3" href="#">
            <i class="far fa-user-alt"></i>
        </a>
    </li>
    <li class="nav-item">
        <a class="nav-link position-relative px-3" href="#"><i class="far fa-heart"></i>
            <span class="position-absolute number">0</span></a>
    </li>
    <li class="nav-item">
        <a class="nav-link position-relative px-3 menu-cart" href="{{ '/cart.html' | document_url }}">
            <i class="far fa-shopping-basket"></i>
            <span class="position-absolute number">0</span>
        </a>
    </li>
</ul>
